*.class
*.log
.cache

# sbt specific
/.history
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project
project/target

# Scala-IDE specific
/.scala_dependencies
/.settings
/.worksheet
/.classpath
/bin

# IDEA
*.iml
/.idea_modules
/.idea

# Sublime
*.sublime-workspace

# Ensime
*.ensime*
